// colors

$color-1: #F0F0F0; // blue
$color-2: #e36767; // red
$color-3: #000; // links color

// fonts 

$primary-font: 'Open Sans Condensed', sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 80px;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;
