// FONTS
$font-open-sans: 'Open Sans', sans-serif;
$font-open-sans-cond: 'Open Sans Condensed', sans-serif;
$font-weight-body:400;
$font-size-body:16px;
//$font-size-h1:;
//$font-size-h2:;
//$font-size-h3:;
//$headings-font-family: 'PT Sans Narrow', sans-serif;
$headings-font-family:'Open Sans Condensed', sans-serif;
$headings-font-weight:  700;
// FONTS

//COLORS

//$yellow:#ffd400;

//COLORS


// BUTTONS

// Button Default
$btn-default-color:#000;
$btn-default-bg:#f7bd1b;
$padding-vertical:7px;
$padding-horizontal:32px;
$font-size:18px;
$line-height:47px;
$border-radius:5px;
// Button Default

// BUTTONS

//FORMS

$padding-base-vertical:10px; 
$padding-base-horizontal:14px;
$input-bg:#f5f7f7;
$input-border-radius:5px;
$input-border:#e9eaea;

//FORMS

//FOOTER
$footer-background-color:#222222;
$footer-color:#fff;
$footer-font-size:18px;
$footer-font-weight:300;
$footer-link-color:#999;
$footer-link-color-hover:#fff;
$footer-icons-color:#fff;
//FOOTER

//NAVBAR

//NAVBAR

//BREADCRUMBS
$breadcrumb-height:30px;
$breadcrumb-bg:#fff;
$border-radius-base:0;
$breadcrumb-color:#555;
$breadcrumb-padding-horizontal:15px;
//BREADCRUMBS