@import "variables";
@import "bootstrap";
@import "../libs/font-awesome/css/font-awesome.min.css";
@import 'bourbon/bourbon'; 
@import "navigation";

body {
	font-family: 'Open Sans Condensed', sans-serif;
	list-style-type: none !important;
}
 h1 {
  	font-weight: 700;
  }


.cd-logo {
	a {
		font-size: 32px;
		font-weight: 700;
		color: #333;
	}
}

.center-vh {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
.first-slide {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slide2 {
	height: 100vh;
}

.block-left {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	h1 {
		color: #B1986A;
	}
	
}
.descr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
  	font-weight: 700;
  }
  p {
  	font-size: 18px;
  }
}
.descr-right {
	opacity: 0;
	display: inline-block;
	position: absolute;
  	top: 50%;
  	text-align: center;
  	width: 50%;
  	h1 {
		color: #B1986A;
	}
}
.block-right {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.imgcont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  .imgr {
  	width: 100%;
  	opacity: 1;
  }
}
.imgn {
	position: absolute;
	top:100%;
	left: 0;
	opacity: 0;
}
.wblock {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
}
.wblock2 {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
}
.contr {
	height: 100%;
	width: 50%;
	float: left;
	//background-color: gold;
	position: relative;
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1 {
			opacity: 0;
		}
	}
}

// slide3
.slide3 {
	height: 100vh;
	position: relative;
	overflow: hidden;
	&_left {
		width: 50%;
		position: relative;
		height: 100%;
		float: left;
		z-index: 10;
		background-color:#F0F0F0;
		&_content {
		@extend .center-vh;
			&_number {
				font-size:90px;
				text-align:center;
				font-weight:700;
				 
			}
		}
	}
	&_right {
		width: 50%;
		position: relative;
		height: 100%;
		float: left;
		.block2 {
			
		}
		.block3 {
			position: absolute;
			left: 120%;
		}
		.block4 {
			position: absolute;
			left: 120%;
		}
		&_content {
		@extend .center-vh;
			&_block1 {
				font-size:300px;
				text-align:center;
				font-weight:700;
				line-height: 300px;
				max-height: 300px;
				span {
					font-size:18px;
					text-align:center;
					max-width:180px;
					display: inline-block;
				    line-height: 18px;
				    position: relative;
				    text-transform: uppercase;
				    top: -20px;
				    vertical-align: top;
				}
			}
		}
	}
}
.block-l2 {
	opacity: 0;
}
.block-l3 {
	opacity: 0;
}
.block-l4 {
	opacity: 0;
}
// slide3

.slide4 {
	height: 100vh;
}

