@import "variables";
@import "bootstrap";
@import "../libs/font-awesome/css/font-awesome.min.css";
@import 'bourbon/bourbon'; 
@import "navigation";

body {
	font-family: 'Open Sans Condensed', sans-serif;
	list-style-type: none !important;
}
 h1 {
  	font-weight: 700;
  }


.cd-logo {
	a {
		font-size: 32px;
		font-weight: 700;
		color: #333;
	}
}



.first-slide {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slide2 {
	height: 100vh;
}

.block-left {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.descr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
  	font-weight: 700;
  }
  p {
  	font-size: 18px;
  }
}
.descr-right {
	opacity: 0;
	display: inline-block;
	position: absolute;
  	top: 50%;
  	text-align: center;
  	
  	width: 50%;
}
.block-right {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.imgcont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  .imgr {
  	width: 100%;
  	opacity: 1;
  }
}
.imgn {
	position: absolute;
	top:100%;
	left: 0;
	opacity: 0;
}
.wblock {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
}
.wblock2 {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
}
.contr {
	height: 100%;
	width: 50%;
	float: left;
	//background-color: gold;
	position: relative;
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1 {
			opacity: 0;
		}
	}
}


